@{
    ViewBag.Title = "Home Page";
}
<div>

    <h1>All Tasks</h1>
</div>

<script type="text/x-handlebars" data-template-name="task-list-template">
    {{#each content}}
        <a href="#" {{action "showDescription" on="click"}}>{{this.Title}}</a>
    {{/each}}
</script>
