@{
    ViewBag.Title = "Home Page";
}
<script type="text/x-handlebars" data-template-name="application">
    <h1>Situation Room</h1>        
    {{outlet}}
</script>
<!-- Tasks List -->
<script type="text/x-handlebars" data-template-name="tasks">
    <h3>Task List</h3>
    <ul>
    {{#each task in controller}}
        {{#with task}}
            <li>hola dami</li>
            <li>{{Title}}</li>
        {{/with}}
    {{/each}}
    </ul>
</script>
