@{
    ViewBag.Title = "Home Page";
}
<div>

    <h1>All Tasks</h1>
</div>

<script type="text/x-handlebars" data-template-name="task-list-template">
        {{#each tasks}}
            <p>{{this.title}}</p>
        {{/each}}
</script>
<script src="/Scripts/Models/Task.js" type="text/javascript"></script>
