@{
    ViewBag.Title = "Home Page";
}
<script type="text/x-handlebars" data-template-name="application">  
    <div class="main-container">        
        {{outlet}}
    </div>

</script>
<!-- Iterations List -->
<script type="text/x-handlebars" data-template-name="iterationList">
    <h1>ITERATIONS</h1>
    <ul class="item-list">
    {{#each iteration in controller}}
        {{#with iteration}}            
            <li><a {{action showIteration this href=true}}>{{Title}}</a></li>
        {{/with}}
    {{/each}}
    </ul>
</script>
<!-- Iteration -->
<script type="text/x-handlebars" data-template-name="iteration">
    <h1>ITERATION #7</h1>
    <ul class="inline-list">
        <li>
            <div class="context-box">
                <img src="/content/images/calendar.png" />
                <p>START DATE</p>
                <p>2012.12.03</p>
            </div>    
        </li>
        <li>
            <div class="context-box">
                <img src="/content/images/calendar.png" />
                <p>END DATE</p>
                <p>2012.12.07</p>
            </div>    
        </li>
        <li>
            <div class="context-box">
                <img src="/content/images/estimation.png" />
                <p>EFFORT</p>
                <p><b>24</b></p>
            </div>    
        </li>
    </ul>
    <h3>STORIES</h3>
    <ul class="item-list">
    {{#each task in controller}}
        {{#with task}}            
            <li><a {{action showTask this href=true}}>{{Title}}</a></li>
        {{/with}}
    {{/each}}
    </ul>
</script>
<!-- Task -->
<script type="text/x-handlebars" data-template-name="task">
    <div class="header-box">
        <h1>{{Title}}</h1>
    </div>
    
</script>    
