@{
    ViewBag.Title = "Home Page";
}
<script type="text/x-handlebars" data-template-name="application">
    <h1>Situation Room</h1>        
    {{outlet}}
</script>
<script type="text/x-handlebars" data-template-name="tasks">
    <h3>Tasks List</h3>
    <p>Welcome to the Task List</p>
</script>
